/* ---------------- PARTIAL IMPORTS ---------------- */
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as bp;
@use "../../styles/partials/typography" as tp;
@use "../../styles/partials/mixins" as mx;

.header {
  border-bottom: 1px solid $secondary-semi-dark;
}

.section {
  &-wrapper {
    @include bp.large {
      display: flex;
      gap: 3%;
    }
  }
}

.upload {
  &-page {
    @include bp.small {
      padding: 0 1rem;
    }
    @include bp.medium {
      padding: 0 3rem;
    }
    @include bp.large {
      padding: 0 5rem;
    }
    &__header {
      margin-top: 1.5rem;
      color: $primary-dark;
      @include bp.medium {
        border-bottom: 1px solid $secondary-semi-dark;
        padding-bottom: 1.5rem;
      }
      @include bp.large {
        border-bottom: 1px solid $secondary-semi-dark;
        padding-bottom: 1.5rem;
      }
    }
  }
}

.form {
  &-container {
    width: 100%;
  }
}

.video {
  &__header {
    margin-bottom: 0.3rem;
    @include bp.small {
      @include tp.small-sub-header;
      color: $primary-semi-dark;
    }
    @include bp.medium {
      @include tp.large-sub-header;
      color: $primary-semi-dark;
    }
    @include bp.large {
      @include tp.large-sub-header;
      color: $primary-semi-dark;
    }
    &-input {
      font-family: "Avenir";
      width: 100%;
      resize: none;
      padding: 0.9rem;
      border: 1px solid $secondary-semi-dark;
      border-radius: 0.25rem;
      height: 3rem;
      color: $primary-dark;
    }
  }

  &-container {
    &__title {
      margin-bottom: 0.3rem;
      @include bp.small {
        @include tp.small-sub-header;
        color: $primary-semi-dark;
      }
      @include bp.medium {
        @include tp.large-sub-header;
        color: $primary-semi-dark;
      }
      @include bp.large {
        @include tp.large-sub-header;
        color: $primary-semi-dark;
      }
    }
    &__image {
      border-radius: 0.25rem;
      background-size: cover;
      width: 100%;
      max-width: 18rem;
      height: 11rem;
      @include bp.large {
        width: 18rem;
        height: 12.3rem;
      }
    }
  }
  &__description {
    &-container {
      @include bp.medium {
        border-bottom: 1px solid $secondary-semi-dark;
        margin-bottom: 1.5rem;
      }
      @include bp.large {
        border-bottom: 1px solid $secondary-semi-dark;
        margin-bottom: 1.5rem;
      }
    }
    &-title {
      margin-bottom: 0.3rem;
      @include bp.small {
        @include tp.small-sub-header;
        color: $primary-semi-dark;
      }
      @include bp.medium {
        @include tp.large-sub-header;
        color: $primary-semi-dark;
      }
      @include bp.large {
        @include tp.large-sub-header;
        color: $primary-semi-dark;
      }
    }
    &-input {
      font-family: "Avenir";
      width: 100%;
      border-radius: 0.25rem;
      resize: none;
      padding: 0.9rem;
      border: 1px solid $secondary-semi-dark;
      height: 6.5rem;
      margin-bottom: 1.5rem;
      color: $primary-dark;
    }
  }
  &__button {
    &-wrapper {
      @include bp.medium {
        max-width: 22.1rem;
        margin-left: auto;
        display: flex;
        flex-direction: row-reverse;
      }
      @include bp.large {
        max-width: 22.1rem;
        margin-left: auto;
        display: flex;
        flex-direction: row-reverse;
      }
    }
  }

  &__cancel {
    &-button {
      @include mx.button;
      background-color: $primary-light;
      color: $primary-semi-light;
      border: none;
      @include bp.small {
        width: 100%;
      }
      @include bp.medium {
        padding: 0.75rem 3.5rem;
        margin-right: 1rem;
        order: 1;
      }
      @include bp.large {
        padding: 0.75rem 3.5rem;
        margin-right: 1rem;
        order: 1;
      }
    }
  }

  &__publish {
    &-button {
      @include mx.button;
      margin-bottom: 1rem;
      /* Styling for the icon inside the button */
      background-image: url("../../assets/images/publish.svg");
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: 0.5rem;
      @include bp.small {
        width: 100%;
      }

      @include bp.medium {
        padding: 0.75rem 3.5rem;
        order: 2;
      }
      @include bp.large {
        padding: 0.75rem 3.5rem;
        order: 2;
      }
    }
  }
}
