/* ------------------------------- COLOR VARIABLES ------------------------------- */
// Primary text color
$primary-dark: #323232; // Black

// Primary CTA color & Active form field outline color
$primary-semi-light: #0095ff; // Blue

// Secondary text color & Text label color
$primary-semi-dark: #afafaf; // Silver

// White background & CTA text color
$primary-light: #ffffff; // Pure white

// Video player components
$secondary-dark: #000000; // Pure black

// CTA hover state color
$secondary-semi-light: #0065ad; // Dark blue

// Divider line & Form field outline color
$secondary-semi-dark: #e1e1e1; // Mercury

//Form field background color
$secondary-light: #fafafa; // Alabaster
