/* ---------------- PARTIAL IMPORTS ---------------- */
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as bp;
@use "../../styles/partials/typography" as tp;
@use "../../styles/partials/mixins" as mx;

.main {
  @include bp.large {
    display: flex;
  }
  &--left {
    border-right: 1px solid $secondary-semi-dark;
    @include bp.large {
      width: 70vw;
      height: 93vh;
    }
  }

  &--right {
    @include bp.large {
      padding-left: 2rem;
    }
  }
}
