/* ---------------- PARTIAL IMPORTS ---------------- */
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as bp;
@use "../../styles/partials/typography" as tp;
@use "../../styles/partials/mixins" as mx;

.suggested {
  &__container {
    @include bp.large {
      // border-left: 1px solid $secondary-semi-dark;
    }
    &-title {
      color: $primary-semi-dark;
    }
    @include bp.small {
      padding: 0 1rem;
    }
    @include bp.medium {
      padding: 0 3rem;
    }
  }
}
