/* ---------------- PARTIAL IMPORTS ---------------- */
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as bp;
@use "../../styles/partials/typography" as tp;
@use "../../styles/partials/mixins" as mx;

.suggested {
  &__container {
    &-title {
      color: $primary-semi-dark;
    }
    /* ---------------- STYLING FOR SMALL DEVICES ---------------- */
    @include bp.small {
      padding: 0 1rem;
    }
    /* ---------------- STYLING FOR MEDIUM DEVICES ---------------- */
    @include bp.medium {
      padding: 0 3rem;
    }
  }
}
