/* ---------------- PARTIAL IMPORTS ---------------- */
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as bp;
@use "../../styles/partials/typography" as tp;
@use "../../styles/partials/mixins" as mx;

.user {
  &__card {
    display: flex;
    position: relative;
    border-bottom: 1px solid $secondary-semi-dark;
    margin: 1rem 0;
    /* ---------------- STYLING FOR LARGE DEVICES ---------------- */
    @include bp.large {
      max-width: 100%;
      gap: 3%;
      // setting the border bottom of the last video to 0
      &:last-child {
        border-bottom: 0;
      }
    }
  }

  &__like {
    &-button {
      width: 1.0625rem;
      height: 0.9375rem;
      background-image: url("../../assets/images/likes.svg");
      background-repeat: no-repeat;
      cursor: pointer;
      /* ---------------- STYLING FOR ACTIVE STATE ---------------- */
      &:active {
        transform: scale(1.1);
      }
    }
  }

  &__icon {
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 50%;
    background-color: $secondary-semi-dark;
    margin-top: 0.5rem;
    flex-shrink: 0;
    margin-right: 5%;

    /* ---------------- STYLING FOR MEDIUM DEVICES ---------------- */
    @include bp.medium {
      margin-right: 3%;
      width: 2.7rem;
      height: 2.7rem;
    }
    /* ---------------- STYLING FOR LARGE DEVICES ---------------- */
    @include bp.large {
      margin-right: 1rem;
      width: 2.7rem;
      height: 2.7rem;
    }
  }

  &__details {
    display: flex;
    justify-content: space-between;
  }

  &__name,
  &__date {
    margin-top: 0.5rem;
    /* ---------------- STYLING FOR SMALL DEVICES ---------------- */
    @include bp.small {
      font-size: 0.875rem;
    }
  }

  &__name {
    color: $primary-dark;
    font-weight: 600;
  }

  &__date {
    color: $primary-semi-dark;
    /* ---------------- STYLING FOR LARGE DEVICES ---------------- */
    @include bp.large {
      padding-right: 2rem;
    }
  }

  &__comment {
    margin-top: 0;
    color: $primary-dark;
    max-width: 94%;
    /* ---------------- STYLING FOR SMALL DEVICES ---------------- */
    @include bp.small {
      max-width: 100%;
    }

    &__delete {
      &-icon {
        width: 1.0625rem;
        height: 0.9375rem;
        background-image: url("../../assets/images/icons8-trash-can-30.png");
        background-repeat: no-repeat;
        position: absolute;
        bottom: 0.5rem;
        right: 0;

        cursor: pointer;
        @include bp.large {
          margin-right: 1rem;
        }
      }
    }
  }
  &-comment {
    &__container {
      display: flex;
      justify-content: space-between;
    }
  }
  &__container {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__counter {
    margin: 0.3125rem 0 0 0;
  }

  &__info {
    width: 100%;
  }
}
